<section class="section-password">
	<div ng-show="password.divshow" class="section-form">
		<p class="tlt-form"><span>Restaurar Contrasena</p>
		<p class="borde-form"></p>
		<form class="form-login" name="formpassword" ng-submit="formpassword.$valid && !password.passValid && password.passwordRemember()" role="form" novalidate>
			<label for="">Contraseña</label>
			<input type="password" name="contrasena" ng-model="password.Form.contrasena" required>
			<p class="requerido-home" ng-show="password.msgValid && formpassword.contrasena.$error.required || formpassword.contrasena.$touched && formpassword.contrasena.$error.required">Requerido *</p>
			<label for="">Verifique su contraseña</label>
			<input type="password" name="contrasenaveri" ng-model="password.Form.contrasenaveri" required>
			<p class="requerido-home" ng-show="password.msgValid && formpassword.contrasenaveri.$error.required || formpassword.contrasenaveri.$touched && formpassword.contrasenaveri.$error.required">Requerido *</p>
			<p class="requerido-home" ng-show="password.passValid">Contraseña no coincide *</p>
			<button class="btn-form-login" ng-click="password.validate(password.$valid)">
					ENVIAR
			</button>
		</form>
	</div>
	<div ng-show="!password.divshow" class="password-div"> 
			<h2 ng-show="password.show">{{password.mensaje}}</h2>
			<div ng-show="!password.show" class="spinerModal">
					<md-progress-circular class="spiner" md-mode="indeterminate" md-diameter="50">
					</md-progress-circular>
					<span>Cargando ...</span>
			</div>
	</div>
</section>