<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:remove="all" th:text="${title}">Template for HTML email: User needs attention</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style>
        .link-recuperar {
            margin: 0% 20%; 
        }
        .txt-intro {
           margin: 1% 20%;
           text-align: justify;
        }
        .p-things {
           font-size: 13px;
           text-align: center;
        }
      </style>
   </head>
   <body>
     <p class="txt-intro">Hola <sapn th:text="${nombreUser}"></sapn>, Hemos recibido una solicitud para restablecer la contraseña de tu Cuenta Things. Haz clic sobre el siguiente enlace para restablecer tu contraseña: </p>
     <a class="link-recuperar" th:href="${baseUrl}">Recuperar contraseña</a>
	   <p class="txt-intro">Si ya no deseas realizar el cambio descrito o si no has iniciado esta solicitud, haz caso omiso de esta modificación o borra este mensaje.</p>
     <p class="p-things">Este mensaje ha sido creado automáticamente mediante el servicio de email de Things by Pragma.</p>
   </body>
</html>

